/* Lamzov Artem
Created: 05.02.20
Modified: 13.02.20
The Wither
1. Common
2. Header
3. Main
4. Footer
5. Modal Windows
6. Fonts
7. Rules
--------------


0. RESET =======================================================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* --------------
1. COMMON: =====================================================================*/

body {
  background: #141218;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.background-img {
  background-image: url(../img/background.jpg);
  background-position-x: 95%;
  background-repeat: no-repeat;
  background-size: 85%;
  height: 95vh;
}

.container {
  margin: 0 10%;
}

/* --------------
2. HEADER =======================================================================*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.nav {
  min-width: 260px;
  margin-left: -42%;
  font-size: 16px;
  letter-spacing: 2px;
}

.menu {
  margin-right: 24px;
}

.soc-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger {
  display: none;
}

/* --------------
3. MAIN ===========================================================================*/

.rate {
  margin: 4vh 0 3vh 0;
}

.text {
  max-width: 460px;
  width: 40%;
  line-height: 150%;
}

.big {
  font-family: "Mason Chronicles";
  font-size: 76px;
  line-height: 89px;
}

/* Button */

.online {
  background: #9D2929;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 22px 72px;
  margin-top: 5vh;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  opacity: .8;
  font-size: 16px;
  letter-spacing: 1px;
}

.online:hover {
  opacity: 1;
}

.b-play {
  position: absolute;
  left: 70%;
  top: 40%;
  background: #9D2929;
  border: none;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding-left: 15px;
  cursor: pointer;
  outline: none;
}

.b-play img {
  position: relative;
}

.b-play::before {
  content: '';
  display: block;
  width: 132px;
  height: 132px;
  background: #9D2929;
  opacity: .7;
  position: absolute;
  top: -16px;
  left: -16px;
  border-radius: 100px;
}

.b-play:hover {
  -webkit-animation: play-anim 1s 5;
          animation: play-anim 1s 5;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes play-anim {
  0% {
    -webkit-transform: scale( 1 );
            transform: scale( 1 );
  }

  20% {
    -webkit-transform: scale( 1.1 );
            transform: scale( 1.1 );
  }

  40% {
    -webkit-transform: scale( 1.2 );
            transform: scale( 1.2 );
  }
}

@keyframes play-anim {
  0% {
    -webkit-transform: scale( 1 );
            transform: scale( 1 );
  }

  20% {
    -webkit-transform: scale( 1.1 );
            transform: scale( 1.1 );
  }

  40% {
    -webkit-transform: scale( 1.2 );
            transform: scale( 1.2 );
  }
}

/*video-block */

.video-block {
  width: 60%;
  height: 25vh;
  margin: 10vh 0 0 0;
}

/* SLIDER */

.slider {
  position: relative;
  overflow: hidden;
  height: 100%;
  x-border: 1px red solid;
}

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4%;
  color: white;
  text-align: center;
  opacity: 0.4;
  height: 40px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #9D2929;
}

.slider__control:hover,
.slider__control:focus {
  color: white;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.slider__control_right {
  right: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Slider FRAMES */

.slider__item>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
}

.slider__item a {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75%;
  height: 15vh;
  position: relative;
  border-radius: 5px;
}

.slider__item a::before {
  content: '';
  background-color: black;
  width: 100%;
  height: 15vh;
  display: block;
  opacity: .6;
  border-radius: 5px;
}

.slider__item a:hover::before {
  opacity: 0;
}

.video-title {
  position: absolute;
  top: 65%;
  font-size: 22px;
  font-family: 'Mason Chronicles';
  letter-spacing: 4px;
  padding-left: 5px;
}

.video-subtitle {
  position: absolute;
  top: 80%;
  letter-spacing: 2px;
  padding-left: 5px;
}

.v1 {
  background-image: url(../img/v1.jpg);
}

.v2 {
  background-image: url(../img/v2.jpg);
}

.v3 {
  background-image: url(../img/v3.jpg);
}

.v4 {
  background-image: url(../img/v4.jpg);
}

.v5 {
  background-image: url(../img/v5.jpg);
}

.v6 {
  background-image: url(../img/v6.jpg);
}

.v7 {
  background-image: url(../img/v7.jpg);
}

.v8 {
  background-image: url(../img/v8.jpg);
}

/* --------------
4. FOOTER =================================================================================================*/

.footer {
  background: #141218;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
}

.autority {
  margin: 0 0 0 10%;
}

.nav-foot {
  margin: 0 10% 0 0;
}

.nav-foot>a {
  margin-right: 25px;
}

/* -----------------
5. MODAL Window =============================================================================================*/

.modal {
  width: 100%;
  height: 100%;
  display: none;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: .5rem;
  opacity: .7;
}

.modal-video {
  display: none;
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60vh;
  margin: auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-animation: opasity-modal-visible .5s linear 1;
          animation: opasity-modal-visible .5s linear 1;
  opacity: 1;
  z-index: 11;
}

.no-scroll {
  overflow: hidden;
}

.close-modal-btn {
  font-size: 35px;
  color: rgba(255, 0, 0, 0.548);
  position: absolute;
  top: 2%;
  right: 2%;
  background: transparent;
  border: none;
  font-weight: 700;
  z-index: 11;
  cursor: pointer;
  outline: none;
  display: none;
}

.close-modal-btn:hover {
  color: red;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* --------------
6. FONTS ====================================================================================================*/

@font-face {
  font-family: "Mason Chronicles";
  src: url(../fonts/mason.woff2) format('woff2');
  src: url(../fonts/mason.ttf) format("truetype");
  src: url(../fonts/mason.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format('woff2');
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  src: url(../fonts/Roboto-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format('woff2');
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  src: url(../fonts/Roboto-Regular.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

/* --------------
7. RULES ====================================================================================================*/

@media screen and (min-width: 1600px) {
  .video-block {
    width: 45%;
  }

  .background-img {
    background-size: 65%;
  }
}

@media screen and (max-width: 1439px) {
  .video-block {
    width: 50%;
  }
}

@media screen and (max-width: 1279px), (max-height: 1023px) {
  .online {
    margin-top: 2vh;
  }

  .video-block {
    margin: 3vh 0 0 0;
    width: 75%;
  }

  .background-img {
    background-size: 60%;
  }
}

@media screen and (max-width: 1023px), (max-height: 849px) {
  .nav {
    margin-left: -5%;
  }

  .nav-foot>a {
    margin-right: 5px;
  }

  .video-block {
    margin: .5vh 0 0 0;
    width: 100%;
  }

  .header {
    padding: 25px 0;
  }
}

@media screen and (max-width: 800px), (max-height: 750px) {
  .background-img {
    height: 1050px;
    background-size: 100%;
    background-position-y: 15%;
  }

  .footer {
    height: 40px;
  }

  .header {
    padding: 60px 0;
  }

  .online {
    margin-top: 100px;
  }

  .video-block {
    margin: 100px 0 0 0;
    height: 200px;
  }

  .slider__item a {
    height: 200px;
  }

  .slider__item a::before {
    height: 200px;
  }

  .text {
    width: 70%;
  }

  .container {
    margin: 0 4%;
  }

  .autority {
    margin: 0 0 0 2%;
  }

  .nav-foot {
    margin: 0 2% 0 0;
  }

  .youtube-trailer {
    width: 80%;
    height: 80vh;
    top: 10%;
    left: 10%;
  }
}

@media screen and (max-width: 700px) {
  .slider {
    position: relative;
    overflow: hidden;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #9D2929;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
    height: 70px;
    width: 90px;
    margin: 0;
    position: absolute;
    right: 0;
  }

  .logo {
    display: none;
    margin-top: 65px;
  }

  .nav {
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .menu {
    display: none;
    margin-right: 0;
    margin-bottom: 17px;
    text-align: center;
  }

  .soc {
    display: none;
    margin-bottom: 20px;
  }

  .burger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 3px;
    cursor: pointer;
  }

  .burger span {
    background: white;
    width: 90%;
    height: 5px;
    display: block;
    border-radius: 2px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin-bottom: 8px;
  }

  .content {
    padding-top: 200px;
  }

  .text {
    width: 96%;
  }

  .b-play {
    display: none;
  }

  .footer {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .autority {
    margin: 0 0 0 5%;
  }

  .nav-foot {
    margin: 20px 0 20px 3%;
  }

  .nav-foot>a {
    margin-right: 20px;
  }
}

@media screen and (max-width: 340px) {
  .background-img {
    background-position-y: 5%;
    height: 1100px;
  }

  .online {
    width: 100%;
  }
}

.webp .background-img { background-image: url(../img/background.webp); }

.webp .v1 { background-image: url(../img/v1.webp); }

.webp .v2 { background-image: url(../img/v2.webp); }

.webp .v3 { background-image: url(../img/v3.webp); }

.webp .v4 { background-image: url(../img/v4.webp); }

.webp .v5 { background-image: url(../img/v5.webp); }

.webp .v6 { background-image: url(../img/v6.webp); }

.webp .v7 { background-image: url(../img/v7.webp); }

.webp .v8 { background-image: url(../img/v8.webp); }